build/
*.suo
*.user
bin
Bin
!/bin
ClientBin
PublishProfiles/
App_Data/
temp/
trunk/
SearchIndex/
obj
Release
_ReSharper*
TestResult.xml
*.csproj.user
*.resharper.user
*.suo
*.cache
.svn
packages
TestResults
desktop.ini